{% extends "layout.html" %}


{% block body %}

<h3>About DS Blog</h3>
<hr>

<p class="jumbotron">
Hello everyone, My name is Resul ÇALIŞKAN, as a freelance data scientist since 2015, I tried to address the importance of big data in our lives. Blog purpose is to make our lives easier thanks to data science and management. This blog is one of the many data platforms that aimed to contribute to data sciences. Thanks for everyone made contributions to this blog. I wish you get to benefit from articles and comments.
</p>
{% endblock body %}
